
.clearStyles::after {
    content:"" ;
    display: table;
    clear: both;
}

.right { 
    float: right; 
}
.rojo { 
    color: #FF5049 !important; 
}
.rojofocus:focus { 
    border: 1px solid #FF5049 !important;
 }

.cabecero {
    height: 40vh;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: #fff;
    background: url(images/fondo.png), #7b4397 ;
    background: url(images/fondo.png), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
    background: url(images/fondo.png), linear-gradient(to left, #7b4397, #dc2430)
}

.presupuesto{
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

}

.presupuesto_titulo{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.presupuesto_valor{
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;

}

.presupuesto_ingreso,
.presupuesto_egreso {
    padding: 12px;
    text-transform: uppercase;
}


.presupuesto_ingreso {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.presupuesto_egreso {
    background-color: #FF5049;
}

.presupuesto_ingreso--texto,
.presupuesto_egreso--texto {
    float: left;
    font-size: 13px;
    color: #fff;
    margin-top: 2px;
}

.presupuesto_ingreso--valor,
.presupuesto_egreso--valor {
    letter-spacing: 1px;
    float: left;
}

.presupuesto_ingreso--porcentaje,
.presupuesto_egreso--porcentaje {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.presupuesto_egreso--porcentaje {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}